services:
  be-function:
    build:
      context: .
      target: php
    ports:
      - ${BE_FUNCTION_PORT}:8000
    volumes:
      - .:/var/task
    env_file:
      - .env
    environment:
      HANDLER: public/index.php
      DOCUMENT_ROOT: public
      SITE_BASE_URL: http://localhost:${BE_FUNCTION_PORT}
      DB_URL: mysql://app:1111@mysql:3306/app?serverVersion=8&charset=utf8mb4
      DYNAMODB_ENDPOINT: http://dynamodb:8000

  mysql:
    ports:
      - ${MYSQL_PORT}:3306
    image: mysql:8
    environment:
      MYSQL_DATABASE: app
      MYSQL_ROOT_PASSWORD: 1111
      MYSQL_USER: app
      MYSQL_PASSWORD: 1111
      MYSQL_PORT: 3306
      MYSQL_VERSION: 8
    volumes:
      - mysql-data:/var/lib/mysql:rw

  dynamodb:
    image: amazon/dynamodb-local
    ports:
      - ${DYNAMODB_PORT}:8000
    volumes:
      - dynamodb-data:/home/dynamodblocal/data
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data"
    user: root

volumes:
  mysql-data:
  dynamodb-data: