services:
  be-function:
    build:
      context: .
      target: php
    ports:
      - ${BE_FUNCTION_PORT}:8000
    volumes:
      - .:/var/task
    environment:
      HANDLER: public/index.php
      DATABASE_URL: mysql://app:1111@rdbms:3306/app?serverVersion=8&charset=utf8mb4
      DYNAMODB_ENDPOINT: http://dynamodb:8000

  ###> doctrine/doctrine-bundle ###
  rdbms:
    ports:
      - ${RDBMS_PORT}:3306
    image: mysql:8
    environment:
      MYSQL_DATABASE: app
      MYSQL_ROOT_PASSWORD: 1111
      MYSQL_USER: app
      MYSQL_PASSWORD: 1111
      MYSQL_PORT: 3306
      MYSQL_VERSION: 8
    volumes:
      - mysql-data:/var/lib/mysql:rw
  ###< doctrine/doctrine-bundle ###

  dynamodb:
    image: amazon/dynamodb-local
    ports:
      - ${DYNAMODB_PORT}:8000
    volumes:
      - dynamodb-data:/home/dynamodblocal/data
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data"
    user: root

volumes:
  ###> doctrine/doctrine-bundle ###
  mysql-data:
  dynamodb-data:
###< doctrine/doctrine-bundle ###