<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         reverseDefectList="true"
         stopOnError="true"
         stopOnFailure="true"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="E_ERROR | E_WARNING | E_PARSE | E_NOTICE"/>
        <ini name="memory_limit" value="-1"/>

        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <env name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
        <env name="APP_SHARE_DIR" value="$APP_PROJECT_DIR/var/share"/>

        <env name="APP_ENV" value="test" force="true"/>
        <env name="KERNEL_CLASS" value="App\Tests\Kernel" force="true"/>

        <env name="APP_STAGE" value="local" force="true"/>
        <env name="SITE_BASE_URL" value="http://localhost" force="true"/>
        <env name="TELEGRAM_WEBHOOK_BASE_URL" value="http://localhost" force="true"/>
        <env name="DB_URL" value="mysql://root:1111@mysql:3306/app_test?serverVersion=8&amp;charset=utf8mb4" force="true"/>
        <env name="DYNAMODB_TABLE" value="app_test" force="true"/>

        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
