# Read the documentation at https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml/
service: feedbacks

provider:
  name: aws
  region: us-east-1
  stage: dev
  runtime: provided.al2
  environment:
    APP_STAGE: ${ssm:/feedbacks/${sls:stage}/APP_STAGE}
    APP_ENV: ${ssm:/feedbacks/${sls:stage}/APP_ENV}
    APP_SECRET: ${ssm:/feedbacks/${sls:stage}/APP_SECRET}
    SITE_BASE_URL: ${ssm:/feedbacks/${sls:stage}/SITE_BASE_URL}
    TELEGRAM_WEBHOOK_BASE_URL: ${ssm:/feedbacks/${sls:stage}/TELEGRAM_WEBHOOK_BASE_URL}
    TELEGRAM_ADMIN_ID: ${ssm:/feedbacks/${sls:stage}/TELEGRAM_ADMIN_ID}
    TELEGRAM_ACTIVITIES_TOKEN: ${ssm:/feedbacks/${sls:stage}/TELEGRAM_ACTIVITIES_TOKEN}
    TELEGRAM_ERRORS_TOKEN: ${ssm:/feedbacks/${sls:stage}/TELEGRAM_ERRORS_TOKEN}
    LOG_ACTIVITIES: ${ssm:/feedbacks/${sls:stage}/LOG_ACTIVITIES}
    GOOGLE_API_KEY: ${ssm:/feedbacks/${sls:stage}/GOOGLE_API_KEY}
    DATABASE_URL: ${ssm:/feedbacks/${sls:stage}/DATABASE_URL}
    CRYPTO: ${ssm:/feedbacks/${sls:stage}/CRYPTO}

plugins:
  - ./vendor/bref/bref

functions:
  web:
    handler: public/index.php
    timeout: 28
    layers:
      - ${bref:layer.php-83-fpm}
    events:
      - httpApi: '*'
  console:
    handler: bin/console
    timeout: 120
    layers:
      - ${bref:layer.php-83}
      - ${bref:layer.console}

package:
  patterns:
    - '!assets/**'
    - '!node_modules/**'
    - '!public/build/**'
    - '!tests/**'
    - '!var/**'
    - '!.idea/**'
    - '!.git/**'
    - '!tests/**'
    - '!.env.dist'
    - '!.phpunit.result.cache'
    - '!.editorconfig'
    - '!editconfig.xml'
    - '!phpunit.xml'
    - 'var/cache/prod/**'
    - 'public/build/entrypoints.json'
    - 'public/build/manifest.json'

resources:
  Resources:
    DynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: !Ref AWS::StackName
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
          - AttributeName: telegram_bot_username_pk
            AttributeType: S
          - AttributeName: telegram_bot_pk
            AttributeType: S
          - AttributeName: telegram_bot_group_country_locale_sk
            AttributeType: S
          - AttributeName: telegram_channel_username_pk
            AttributeType: S
          - AttributeName: telegram_channel_pk
            AttributeType: S
          - AttributeName: telegram_channel_group_country_locale_sk
            AttributeType: S
          - AttributeName: level_1_region_pk
            AttributeType: S
          - AttributeName: level_1_region_country_code_name_sk
            AttributeType: S
          - AttributeName: messenger_user_messenger_identifier_pk
            AttributeType: S
          - AttributeName: messenger_user_messenger_username_pk
            AttributeType: S
          - AttributeName: messenger_user_user_pk
            AttributeType: S
          - AttributeName: feedback_user_subscription_messenger_user_id_pk
            AttributeType: S
          - AttributeName: feedback_user_subscription_user_id_pk
            AttributeType: S
          - AttributeName: search_term_feedback_normalized_text_pk
            AttributeType: S
          - AttributeName: search_term_feedback_created_at_sk
            AttributeType: S
          - AttributeName: search_term_feedback_search_normalized_text_pk
            AttributeType: S
          - AttributeName: search_term_feedback_search_created_at_sk
            AttributeType: S
          - AttributeName: search_term_feedback_lookup_normalized_text_pk
            AttributeType: S
          - AttributeName: search_term_feedback_lookup_created_at_sk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        TimeToLiveSpecification:
          Enabled: true
          AttributeName: expire_at
        GlobalSecondaryIndexes:
          - IndexName: TELEGRAM_BOTS_BY_USERNAME
            KeySchema:
              - AttributeName: telegram_bot_username_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: TELEGRAM_BOTS_BY_GROUP_COUNTRY_LOCALE
            KeySchema:
              - AttributeName: telegram_bot_pk
                KeyType: HASH
              - AttributeName: telegram_bot_group_country_locale_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: TELEGRAM_CHANNELS_BY_USERNAME
            KeySchema:
              - AttributeName: telegram_channel_username_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: TELEGRAM_CHANNELS_BY_GROUP_COUNTRY_LOCALE
            KeySchema:
              - AttributeName: telegram_channel_pk
                KeyType: HASH
              - AttributeName: telegram_channel_group_country_locale_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: LEVEL_1_REGIONS_BY_COUNTRY_NAME
            KeySchema:
              - AttributeName: level_1_region_pk
                KeyType: HASH
              - AttributeName: level_1_region_country_code_name_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: MESSENGER_USERS_BY_MESSENGER_IDENTIFIER
            KeySchema:
              - AttributeName: messenger_user_messenger_identifier_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: MESSENGER_USERS_BY_MESSENGER_USERNAME
            KeySchema:
              - AttributeName: messenger_user_messenger_username_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: MESSENGER_USERS_BY_USER
            KeySchema:
              - AttributeName: messenger_user_user_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: FEEDBACK_USER_SUBSCRIPTIONS_BY_MESSENGER_USER
            KeySchema:
              - AttributeName: feedback_user_subscription_messenger_user_id_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: FEEDBACK_USER_SUBSCRIPTIONS_BY_USER
            KeySchema:
              - AttributeName: feedback_user_subscription_user_id_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: SEARCH_TERM_FEEDBACKS_BY_SEARCH_TERM_NORMALIZED_TEXT_CREATED
            KeySchema:
              - AttributeName: search_term_feedback_normalized_text_pk
                KeyType: HASH
              - AttributeName: search_term_feedback_created_at_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: SEARCH_TERM_FEEDBACK_SEARCHES_BY_SEARCH_TERM_NORMALIZED_TEXT_CREATED
            KeySchema:
              - AttributeName: search_term_feedback_search_normalized_text_pk
                KeyType: HASH
              - AttributeName: search_term_feedback_search_created_at_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: SEARCH_TERM_FEEDBACK_LOOKUPS_BY_SEARCH_TERM_NORMALIZED_TEXT_CREATED
            KeySchema:
              - AttributeName: search_term_feedback_lookup_normalized_text_pk
                KeyType: HASH
              - AttributeName: search_term_feedback_lookup_created_at_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        Tags:
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Environment
            Value: !Ref TagEnvironment