# Read the documentation at https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml/
service: feedbacks

useDotenv: true

provider:
  name: aws
  region: ${env:AWS_REGION}
  stage: ${env:APP_STAGE}
  runtime: provided.al2
  environment:
    APP_ENV: ${ssm:/feedbacks/${sls:stage}/APP_ENV}
    APP_STAGE: ${ssm:/feedbacks/${sls:stage}/APP_STAGE}
    APP_SECRET: ${ssm:/feedbacks/${sls:stage}/APP_SECRET~true}
    SITE_BASE_URL: ${ssm:/feedbacks/${sls:stage}/SITE_BASE_URL}
    TELEGRAM_WEBHOOK_BASE_URL: ${ssm:/feedbacks/${sls:stage}/TELEGRAM_WEBHOOK_BASE_URL}
    TELEGRAM_ADMIN_ID: ${ssm:/feedbacks/${sls:stage}/TELEGRAM_ADMIN_ID}
    TELEGRAM_ACTIVITIES_TOKEN: ${ssm:/feedbacks/${sls:stage}/TELEGRAM_ACTIVITIES_TOKEN~true}
    TELEGRAM_ERRORS_TOKEN: ${ssm:/feedbacks/${sls:stage}/TELEGRAM_ERRORS_TOKEN~true}
    LOG_ACTIVITIES: ${ssm:/feedbacks/${sls:stage}/LOG_ACTIVITIES}
    GOOGLE_API_KEY: ${ssm:/feedbacks/${sls:stage}/GOOGLE_API_KEY~true}
    DATABASE_URL: ${ssm:/feedbacks/${sls:stage}/DATABASE_URL~true}
    CRYPTO: ${ssm:/feedbacks/${sls:stage}/CRYPTO}

plugins:
  - ./vendor/bref/bref

functions:
  web:
    handler: public/index.php
    timeout: 28
    layers:
      - ${bref:layer.php-83-fpm}
    events:
      - httpApi: '*'
  console:
    handler: bin/console
    timeout: 120
    layers:
      - ${bref:layer.php-83}
      - ${bref:layer.console}

package:
  patterns:
    - '!assets/**'
    - '!node_modules/**'
    - '!public/build/**'
    - '!tests/**'
    - '!var/**'
    - '!.idea/**'
    - '!.git/**'
    - '!tests/**'
    - '!.env.dist'
    - '!.phpunit.result.cache'
    - '!.editorconfig'
    - '!editconfig.xml'
    - '!phpunit.xml'
    - 'var/cache/prod/**'
    - 'public/build/entrypoints.json'
    - 'public/build/manifest.json'

resources:
  Resources:
    AppEnvParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/APP_ENV
        Type: String
        Value: ${env:APP_ENV}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    AppStageParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/APP_STAGE
        Type: String
        Value: ${env:APP_STAGE}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
      AppSecretParam:
        Type: AWS::SSM::Parameter
        Properties:
          Name: /feedbacks/${sls:stage}/APP_SECRET
          Type: SecureString
          Value: ${env:APP_SECRET}
          Tags:
            - Key: Environment
              Value: !Ref TagEnvironment
            - Key: Project
              Value: !Ref TagProject
            - Key: Owner
              Value: !Ref TagOwner
            - Key: Region
              Value: !Ref TagRegion
    SiteBaseUrlParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/SITE_BASE_URL
        Type: String
        Value: ${env:SITE_BASE_URL}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    TelegramWebhookBaseUrlParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/TELEGRAM_WEBHOOK_BASE_URL
        Type: String
        Value: ${env:TELEGRAM_WEBHOOK_BASE_URL}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    TelegramAdminIdParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/TELEGRAM_ADMIN_ID
        Type: String
        Value: ${env:TELEGRAM_ADMIN_ID}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    TelegramActivitiesTokenParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/TELEGRAM_ACTIVITIES_TOKEN
        Type: SecureString
        Value: ${env:TELEGRAM_ACTIVITIES_TOKEN}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    TelegramErrorsTokenParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/TELEGRAM_ERRORS_TOKEN
        Type: SecureString
        Value: ${env:TELEGRAM_ERRORS_TOKEN}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    LogActivitiesParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/LOG_ACTIVITIES
        Type: String
        Value: ${env:LOG_ACTIVITIES}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    GoogleApiKeyParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/GOOGLE_API_KEY
        Type: SecureString
        Value: ${env:GOOGLE_API_KEY}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    DatabaseUrlParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/DATABASE_URL
        Type: SecureString
        Value: ${env:DATABASE_URL}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    CryptoParam:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /feedbacks/${sls:stage}/CRYPTO
        Type: String
        Value: ${env:CRYPTO}
        Tags:
          - Key: Environment
            Value: !Ref TagEnvironment
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Region
            Value: !Ref TagRegion
    DynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: !Ref AWS::StackName
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
          - AttributeName: telegram_bot_username_pk
            AttributeType: S
          - AttributeName: telegram_bot_pk
            AttributeType: S
          - AttributeName: telegram_bot_group_country_locale_sk
            AttributeType: S
          - AttributeName: telegram_channel_username_pk
            AttributeType: S
          - AttributeName: telegram_channel_pk
            AttributeType: S
          - AttributeName: telegram_channel_group_country_locale_sk
            AttributeType: S
          - AttributeName: level_1_region_pk
            AttributeType: S
          - AttributeName: level_1_region_country_code_name_sk
            AttributeType: S
          - AttributeName: messenger_user_messenger_identifier_pk
            AttributeType: S
          - AttributeName: messenger_user_messenger_username_pk
            AttributeType: S
          - AttributeName: messenger_user_user_pk
            AttributeType: S
          - AttributeName: feedback_user_subscription_messenger_user_id_pk
            AttributeType: S
          - AttributeName: feedback_user_subscription_user_id_pk
            AttributeType: S
          - AttributeName: search_term_feedback_normalized_text_pk
            AttributeType: S
          - AttributeName: search_term_feedback_created_at_sk
            AttributeType: S
          - AttributeName: search_term_feedback_search_normalized_text_pk
            AttributeType: S
          - AttributeName: search_term_feedback_search_created_at_sk
            AttributeType: S
          - AttributeName: search_term_feedback_lookup_normalized_text_pk
            AttributeType: S
          - AttributeName: search_term_feedback_lookup_created_at_sk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        TimeToLiveSpecification:
          Enabled: true
          AttributeName: expire_at
        GlobalSecondaryIndexes:
          - IndexName: TELEGRAM_BOTS_BY_USERNAME
            KeySchema:
              - AttributeName: telegram_bot_username_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: TELEGRAM_BOTS_BY_GROUP_COUNTRY_LOCALE
            KeySchema:
              - AttributeName: telegram_bot_pk
                KeyType: HASH
              - AttributeName: telegram_bot_group_country_locale_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: TELEGRAM_CHANNELS_BY_USERNAME
            KeySchema:
              - AttributeName: telegram_channel_username_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: TELEGRAM_CHANNELS_BY_GROUP_COUNTRY_LOCALE
            KeySchema:
              - AttributeName: telegram_channel_pk
                KeyType: HASH
              - AttributeName: telegram_channel_group_country_locale_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: LEVEL_1_REGIONS_BY_COUNTRY_NAME
            KeySchema:
              - AttributeName: level_1_region_pk
                KeyType: HASH
              - AttributeName: level_1_region_country_code_name_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: MESSENGER_USERS_BY_MESSENGER_IDENTIFIER
            KeySchema:
              - AttributeName: messenger_user_messenger_identifier_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: MESSENGER_USERS_BY_MESSENGER_USERNAME
            KeySchema:
              - AttributeName: messenger_user_messenger_username_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: MESSENGER_USERS_BY_USER
            KeySchema:
              - AttributeName: messenger_user_user_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: FEEDBACK_USER_SUBSCRIPTIONS_BY_MESSENGER_USER
            KeySchema:
              - AttributeName: feedback_user_subscription_messenger_user_id_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: FEEDBACK_USER_SUBSCRIPTIONS_BY_USER
            KeySchema:
              - AttributeName: feedback_user_subscription_user_id_pk
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: SEARCH_TERM_FEEDBACKS_BY_SEARCH_TERM_NORMALIZED_TEXT_CREATED
            KeySchema:
              - AttributeName: search_term_feedback_normalized_text_pk
                KeyType: HASH
              - AttributeName: search_term_feedback_created_at_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: SEARCH_TERM_FEEDBACK_SEARCHES_BY_SEARCH_TERM_NORMALIZED_TEXT_CREATED
            KeySchema:
              - AttributeName: search_term_feedback_search_normalized_text_pk
                KeyType: HASH
              - AttributeName: search_term_feedback_search_created_at_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: SEARCH_TERM_FEEDBACK_LOOKUPS_BY_SEARCH_TERM_NORMALIZED_TEXT_CREATED
            KeySchema:
              - AttributeName: search_term_feedback_lookup_normalized_text_pk
                KeyType: HASH
              - AttributeName: search_term_feedback_lookup_created_at_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        Tags:
          - Key: Project
            Value: !Ref TagProject
          - Key: Owner
            Value: !Ref TagOwner
          - Key: Environment
            Value: !Ref TagEnvironment